<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="Test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>
</phpunit>
